<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>dw_mappingseo</name>
	<displayName><![CDATA[Mapping SEO]]></displayName>
	<version><![CDATA[1.0.2]]></version>
	<description><![CDATA[mapping balise meta title et balise alt image]]></description>
	<author><![CDATA[Raed Dakhli]]></author>
	<tab><![CDATA[seo]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
